*{
    margin: 0;
    padding: 0;
}
header,main,footer {
    width: 100%;
    display: block;
    text-align: center;
    direction:rtl;
}
#wrapper{

    margin: 0 auto;
    width: 90%;
}
input{
    width:90px;
    height: 50px;
    text-align: center;
}
